In [1]:
import pandas as pd
melbourne_file_path = 'melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path) 
melbourne_data

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [2]:
melbourne_data.info

<bound method DataFrame.info of               Suburb           Address  Rooms Type      Price Method  \
0         Abbotsford      85 Turner St      2    h  1480000.0      S
1         Abbotsford   25 Bloomburg St      2    h  1035000.0      S
2         Abbotsford      5 Charles St      3    h  1465000.0     SP
3         Abbotsford  40 Federation La      3    h   850000.0     PI
4         Abbotsford       55a Park St      4    h  1600000.0     VB
...              ...               ...    ...  ...        ...    ...
13575  Wheelers Hill      12 Strada Cr      4    h  1245000.0      S
13576   Williamstown     77 Merrett Dr      3    h  1031000.0     SP
13577   Williamstown       83 Power St      3    h  1170000.0      S
13578   Williamstown      96 Verdon St      4    h  2500000.0     PI
13579     Yarraville        6 Agnes St      4    h  1285000.0     SP

        SellerG        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  \
0        Biggin   3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0
1        Biggin   4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0
2        Biggin   4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0
3        Biggin   4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0
4        Nelson   4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0
...         ...         ...       ...       ...  ...       ...  ...       ...
13575     Barry  26/08/2017      16.7    3150.0  ...       2.0  2.0     652.0
13576  Williams  26/08/2017       6.8    3016.0  ...       2.0  2.0     333.0
13577     Raine  26/08/2017       6.8    3016.0  ...       2.0  4.0     436.0
13578   Sweeney  26/08/2017       6.8    3016.0  ...       1.0  5.0     866.0
13579   Village  26/08/2017       6.3    3013.0  ...       1.0  1.0     362.0

       BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
0               NaN        NaN        Yarra -37.79960   144.99840
1              79.0     1900.0        Yarra -37.80790   144.99340
2             150.0     1900.0        Yarra -37.80930   144.99440
3               NaN        NaN        Yarra -37.79690   144.99690
4             142.0     2014.0        Yarra -37.80720   144.99410
...             ...        ...          ...       ...         ...
13575           NaN     1981.0          NaN -37.90562   145.16761
13576         133.0     1995.0          NaN -37.85927   144.87904
13577           NaN     1997.0          NaN -37.85274   144.88738
13578         157.0     1920.0          NaN -37.85908   144.89299
13579         112.0     1920.0          NaN -37.81188   144.88449

                       Regionname Propertycount
0           Northern Metropolitan        4019.0
1           Northern Metropolitan        4019.0
2           Northern Metropolitan        4019.0
3           Northern Metropolitan        4019.0
4           Northern Metropolitan        4019.0
...                           ...           ...
13575  South-Eastern Metropolitan        7392.0
13576        Western Metropolitan        6380.0
13577        Western Metropolitan        6380.0
13578        Western Metropolitan        6380.0
13579        Western Metropolitan        6543.0

[13580 rows x 21 columns]>

In [13]:
melbourne_data.Address

0            85 Turner St
1         25 Bloomburg St
2            5 Charles St
3        40 Federation La
4             55a Park St
               ...
13575        12 Strada Cr
13576       77 Merrett Dr
13577         83 Power St
13578        96 Verdon St
13579          6 Agnes St
Name: Address, Length: 13580, dtype: object

In [11]:
# two ways to access a value of a certain row and column, either done as below write in [] brackets first column 
# then row index

melbourne_data['Suburb'][13575]

'Wheelers Hill'

In [2]:
# or access it with at method
melbourne_data.at[13575,'Suburb']

'Wheelers Hill'

In [3]:
# if want to access any complete row of a dataframe use 'dataframe name.loc' for it and then in [] specify the 
# index value of the row you want to access 
melbourne_data.loc[13575]

Suburb                        Wheelers Hill
Address                        12 Strada Cr
Rooms                                     4
Type                                      h
Price                             1245000.0
Method                                    S
SellerG                               Barry
Date                             26/08/2017
Distance                               16.7
Postcode                             3150.0
Bedroom2                                4.0
Bathroom                                2.0
Car                                     2.0
Landsize                              652.0
BuildingArea                            NaN
YearBuilt                            1981.0
CouncilArea                             NaN
Lattitude                         -37.90562
Longtitude                        145.16761
Regionname       South-Eastern Metropolitan
Propertycount                        7392.0
Name: 13575, dtype: object

In [6]:
# cmd used to access a number of of rows in the given [x:y]
melbourne_data.loc[10000:10010]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
10000,Oakleigh South,192 Haughton Rd,3,h,1265000.0,S,HAR,24/06/2017,15.5,3167.0,...,1.0,1.0,743.0,NaN,NaN,Monash,-37.91282,145.10376,South-Eastern Metropolitan,3692.0
10001,Oakleigh South,266 Warrigal Rd,4,h,1050000.0,S,Buxton,24/06/2017,15.5,3167.0,...,2.0,2.0,624.0,NaN,NaN,Monash,-37.91489,145.08441,South-Eastern Metropolitan,3692.0
10002,Ormond,1/276 Grange Rd,2,h,790000.0,S,Gary,24/06/2017,11.4,3204.0,...,1.0,2.0,253.0,NaN,NaN,Glen Eira,-37.90173,145.04466,Southern Metropolitan,3578.0
10003,Pakenham,69 Willowtree Dr,4,h,410500.0,S,C21,24/06/2017,47.3,3810.0,...,2.0,2.0,425.0,NaN,NaN,Cardinia,-38.07474,145.45376,Eastern Victoria,17384.0
10004,Parkdale,22 Keith St,4,h,1300000.0,SP,Buxton,24/06/2017,21.5,3195.0,...,2.0,2.0,597.0,150.0,1970.0,Kingston,-37.99232,145.08469,South-Eastern Metropolitan,5087.0
10005,Parkdale,36A Warrigal Rd,3,h,1400000.0,VB,Buxton,24/06/2017,21.5,3195.0,...,2.0,2.0,259.0,NaN,2007.0,Kingston,-37.99050,145.06999,South-Eastern Metropolitan,5087.0
10006,Pascoe Vale,44 Arndt Rd,3,h,955000.0,S,Raine,24/06/2017,8.5,3044.0,...,1.0,4.0,645.0,NaN,NaN,Moreland,-37.72029,144.92896,Northern Metropolitan,7485.0
10007,Pascoe Vale,49 Kent Rd,2,h,860000.0,SP,Nelson,24/06/2017,8.5,3044.0,...,1.0,4.0,609.0,NaN,NaN,Moreland,-37.72091,144.94601,Northern Metropolitan,7485.0
10008,Pascoe Vale,12 Shanley St,2,h,740000.0,S,Brad,24/06/2017,8.5,3044.0,...,1.0,1.0,487.0,88.0,1940.0,Moreland,-37.71949,144.94283,Northern Metropolitan,7485.0
10009,Port Melbourne,6/5 Liardet St,2,u,816000.0,S,hockingstuart,24/06/2017,3.5,3207.0,...,1.0,1.0,0.0,NaN,2000.0,Port Phillip,-37.84237,144.94486,Southern Metropolitan,8648.0
10010,Port Melbourne,308/15 Pickles St,3,u,800000.0,S,Greg,24/06/2017,3.5,3207.0,...,1.0,2.0,0.0,80.0,2008.0,Port Phillip,-37.84426,144.94415,Southern Metropolitan,8648.0

In [4]:
# cmds like dataframe name.head(x) or dataframe name.tail(x) can either show the first x rows in a dataframe 
# (.head(x)) or show the last x rows of dataframe (.tail(x))
melbourne_data.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.0,0.0,181.0,NaN,NaN,Yarra,-37.8041,144.9953,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0
8,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.8008,144.9973,Northern Metropolitan,4019.0
9,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,2.0,220.0,75.0,1900.0,Yarra,-37.8010,144.9989,Northern Metropolitan,4019.0

In [5]:
# the cmd below gives the index of the first not NAN value in a column. NAN value is basically a not given 
# value in a dataframe that is automatically then represented as a NAN in PANDAS.
melbourne_data.BuildingArea.first_valid_index()

1

In [7]:
# cmd used to access a given ranged random sample of the dataframe
melbourne_data.sample(6)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
8283,Preston,72 McNamara St,3,h,1055000.0,S,Nelson,29/04/2017,8.8,3072.0,...,1.0,2.0,575.0,NaN,NaN,Darebin,-37.72880,144.98490,Northern Metropolitan,14577.0
11630,Coburg,35 Belgrave St,3,h,1285000.0,S,Nelson,22/07/2017,6.7,3058.0,...,1.0,2.0,579.0,143.0,1930.0,Moreland,-37.74482,144.97499,Northern Metropolitan,11204.0
7146,Murrumbeena,1/178 Murrumbeena Rd,2,t,720000.0,S,hockingstuart,23/04/2016,12.1,3163.0,...,2.0,2.0,1318.0,NaN,2008.0,Glen Eira,-37.89690,145.06540,Southern Metropolitan,4442.0
10995,Doncaster,2/5 Kirton Ct,3,u,780000.0,VB,Fletchers,12/08/2017,12.4,3108.0,...,1.0,2.0,220.0,NaN,NaN,Manningham,-37.78189,145.13078,Eastern Metropolitan,9028.0
11603,Brighton East,4/3 Gleniffer Av,2,u,620000.0,S,Buxton,22/07/2017,10.3,3187.0,...,1.0,1.0,972.0,NaN,NaN,Bayside,-37.93171,145.03041,Southern Metropolitan,6938.0
6169,Surrey Hills,29 Boisdale St,5,h,1518000.0,S,Fletchers,23/04/2016,11.2,3127.0,...,2.0,1.0,632.0,231.0,1950.0,Whitehorse,-37.83520,145.10230,Southern Metropolitan,5457.0

In [ ]:
# cmd used to make a copy of the given dataframe
melbourne_data.copy()